$bp-desktop: 1024px;
$bp-tablet: 768px;
$bp-mobile: 480px;

@mixin down($breakpoint) {
  @if $breakpoint == desktop {
    @media (max-width: #{$bp-desktop}) { @content; }
  } @else if $breakpoint == tablet {
    @media (max-width: #{$bp-tablet}) { @content; }
  } @else if $breakpoint == mobile {
    @media (max-width: #{$bp-mobile}) { @content; }
  }
}