---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact | Promedico Wellness Group">
  <section class="section">
    <div class="container">
      <h1>Contact</h1>
      <p>Page in development.</p>
    </div>
  </section>
</BaseLayout>